<div id="wrapper" class="contact">
  <header class="navbar-fixed-top">
    <nav class="hidden-phone">
      <a href="http://www.facebook.com/chillfactor"><img src="images/facebook.png"></a>
      <a href="http://www.twitter.com/marcloney"><img src="images/twitter.png"></a>
      <a href="http://www.github.com/marcloney"><img src="images/github.png"></a>
    </nav>
        
    <h2>{{#linkTo 'index'}}marcloney.com{{/linkTo}}</h2>
  </header>
  
  <section id="posts">
    <h2>Contact Details</h2>
    <h3>n: Marc Loney</h3>
    <h3>e: <a href="mailto:marc@marcloney.com">marc@marcloney.com</a></h3>
  </section>
  
</div>

<nav class="visible-phone" style="text-align: center;">
  <a href="http://www.facebook.com/chillfactor"><img src="images/facebook.png"></a>
  <a href="http://www.twitter.com/marcloney"><img src="images/twitter.png"></a>
  <a href="http://www.github.com/marcloney"><img src="images/github.png"></a>
</nav>