<div id="wrapper" class="index">
<header class="row-fluid">
  <h1 class="span12">&gt; hi, im marc loney and i'm a developer.</h1>
  
  <nav>
    <a href="http://www.facebook.com/chillfactor"><img src="images/facebook.png"></a>
    <a href="http://www.twitter.com/marcloney"><img src="images/twitter.png"></a>
    <a href="http://www.github.com/marcloney"><img src="images/github.png"></a>
  </nav>
    
  <h2>marcloney.com</h2>
</header>
    
<section class="row-fluid">
  <div {{action 'linkBlog'}} class="span6">
    <img src="images/blog.png">
    <h2>blog.</h2>
  </div>
  
  <div {{action 'linkContact'}} class="span6">
    <img src="images/contact.png">
    <h2>contact.</h2>
  </div>
</section>